In [2]:
import pandas as pd

In [3]:
distritos = pd.read_csv('../../datasets/distritos.csv', sep='\t')
barrios = pd.read_csv('../../datasets/barrios.csv', sep='\t')

In [4]:
distritos

   cod_distrito    distrito
0             1      CENTRO
1             2  ARGANZUELA
2             3      RETIRO
3             4   SALAMANCA
4             5   CHAMARTIN
5             6      TETUAN
6             7    CHAMBERI
7             8  FUENCARRAL
8             9     MONCLOA
9            30         NaN

In [5]:
barrios

    cod_distrito  cod_barrio                barrio
0              1           1               PALACIO
1              1           2           EMBAJADORES
2              1           3                CORTES
3              1           4              JUSTICIA
4              1           5           UNIVERSIDAD
5              1           6                   SOL
6              2           1              IMPERIAL
7              2           2               ACACIAS
8              2           3               CHOPERA
9              2           4               LEGAZPI
10             2           5              DELICIAS
11             2           6       PALOS DE MOGUER
12             2           7                ATOCHA
13             3           1              PACÍFICO
14             3           2               ADELFAS
15             3           3              ESTRELLA
16             3           4                 IBIZA
17             3           5             JERONIMOS
18             3           6            NIÑO JESÚS
19             4           1             RECOLETOS
20             4           2                  GOYA
21             4           3      FUENTE DEL BERRO
22             4           4            GUINDALERA
23             4           5                 LISTA
24             4           6            CASTELLANA
25             5           1               EL VISO
26             5           2           PROSPERIDAD
27             5           3         CIUDAD JARDÍN
28             5           4        HISPANOAMÉRICA
29             5           5          NUEVA ESPAÑA
30             5           6              CASTILLA
31             6           1         BELLAS VISTAS
32             6           2        CUATRO CAMINOS
33             6           3           CASTILLEJOS
34             6           4              ALMENARA
35             6           5         VALDEACEDERAS
36             6           6            BERRUGUETE
37             7           1            GAZTAMBIDE
38             7           2              ARAPILES
39             7           3             TRAFALGAR
40             7           4               ALMAGRO
41             7           5            RIOS ROSAS
42             7           6          VALLEHERMOSO
43             8           4                 PILAR
44             8           5                LA PAZ
45             9           1         CASA DE CAMPO
46             9           2             ARGUELLES
47             9           3  CIUDAD UNIVERSITARIA
48             9           4            VALDEZARZA
49            30           0          TEST PARKARE

In [6]:
parking = pd.read_parquet('../../datasets/tickets_parking.parquet')

In [7]:
parking.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,1,AZUL,ECO,154,1.00
1,302230080,2022-03-03 17:21:30,2022-03-03 17:21:30,2022-03-03 17:42:30,2,2,VERDE,C,21,0.50
2,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,1,AZUL,B,240,9.85
3,APP-MOVIL,2022-01-22 11:30:57,2022-01-22 11:30:55,2022-01-22 11:44:55,2,6,VERDE,C,14,0.30
4,APP-MOVIL,2022-02-17 11:59:48,2022-02-17 11:59:47,2022-02-17 13:04:47,5,3,AZUL,ECO,65,0.30

In [8]:
print(parking.info)
print(parking.dtypes)

<bound method DataFrame.info of          matricula_parquimetro      fecha_operacion         fecha_inicio  \
0                    703130002  2022-02-23 20:26:24  2022-02-23 20:26:24
1                    302230080  2022-03-03 17:21:30  2022-03-03 17:21:30
2                    703130050  2022-03-10 08:54:11  2022-03-10 09:00:00
3                    APP-MOVIL  2022-01-22 11:30:57  2022-01-22 11:30:55
4                    APP-MOVIL  2022-02-17 11:59:48  2022-02-17 11:59:47
...                        ...                  ...                  ...
10725770             205110489  2022-03-15 11:07:55  2022-03-15 11:08:16
10725771             APP-MOVIL  2022-03-15 11:31:10  2022-03-15 11:31:00
10725772             APP-MOVIL  2022-02-05 12:38:43  2022-02-05 12:38:00
10725773             APP-MOVIL  2022-01-10 19:00:50  2022-01-10 19:00:00
10725774             APP-MOVIL  2022-01-05 11:05:48  2022-01-05 11:05:00

                    fecha_fin  cod_distrito  cod_barrio tipo_zona distintivo  \
0         2022-02-24 11:00:24             3           1      AZUL        ECO
1         2022-03-03 17:42:30             2           2     VERDE          C
2         2022-03-10 13:00:00             3           1      AZUL          B
3         2022-01-22 11:44:55             2           6     VERDE          C
4         2022-02-17 13:04:47             5           3      AZUL        ECO
...                       ...           ...         ...       ...        ...
10725770  2022-03-15 11:52:16             5           1     VERDE          B
10725771  2022-03-15 12:12:00             2           2      AZUL          B
10725772  2022-02-05 13:18:00             2           6     VERDE          B
10725773  2022-01-10 19:43:00             8           4      AZUL          C
10725774  2022-01-05 11:46:00             5           6      AZUL          C

          minutos_tique  importe_tique
0                   154           1.00
1                    21           0.50
2                   240           9.85
3                    14           0.30
4                    65           0.30
...                 ...            ...
10725770             44           2.00
10725771             41           0.80
10725772             40           2.50
10725773             43           0.65
10725774             41           0.60

[10725775 rows x 10 columns]>
matricula_parquimetro     object
fecha_operacion           object
fecha_inicio              object
fecha_fin                 object
cod_distrito               int64
cod_barrio                 int64
tipo_zona                 object
distintivo                object
minutos_tique              int64
importe_tique            float64
dtype: object

In [9]:
parking['fecha_operacion'] = pd.to_datetime(parking['fecha_operacion'], format="%Y-%m-%d %H:%M:%S")
parking['fecha_inicio'] = pd.to_datetime(parking['fecha_inicio'], format="%Y-%m-%d %H:%M:%S")
parking['fecha_fin'] = pd.to_datetime(parking['fecha_fin'], format="%Y-%m-%d %H:%M:%S")

In [10]:
print(parking.dtypes)

matricula_parquimetro            object
fecha_operacion          datetime64[ns]
fecha_inicio             datetime64[ns]
fecha_fin                datetime64[ns]
cod_distrito                      int64
cod_barrio                        int64
tipo_zona                        object
distintivo                       object
minutos_tique                     int64
importe_tique                   float64
dtype: object

In [11]:
# Merge distritos
p_distritos = pd.merge(parking, distritos)
p_distritos.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,1,AZUL,ECO,154,1.00,RETIRO
1,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,1,AZUL,B,240,9.85,RETIRO
2,APP-MOVIL,2022-01-31 08:37:50,2022-01-31 09:00:00,2022-01-31 11:00:00,3,3,AZUL,B,120,3.30,RETIRO
3,APP-MOVIL,2022-01-26 15:28:42,2022-01-26 15:28:42,2022-01-26 15:58:42,3,2,AZUL,B,30,0.50,RETIRO
4,APP-MOVIL,2022-03-31 14:46:43,2022-03-31 15:00:00,2022-03-31 16:00:00,3,4,AZUL,B,60,3.55,RETIRO

In [12]:
# Check dataframe. It's the same num of rows than before merge
print(parking.info)

<bound method DataFrame.info of          matricula_parquimetro     fecha_operacion        fecha_inicio  \
0                    703130002 2022-02-23 20:26:24 2022-02-23 20:26:24
1                    302230080 2022-03-03 17:21:30 2022-03-03 17:21:30
2                    703130050 2022-03-10 08:54:11 2022-03-10 09:00:00
3                    APP-MOVIL 2022-01-22 11:30:57 2022-01-22 11:30:55
4                    APP-MOVIL 2022-02-17 11:59:48 2022-02-17 11:59:47
...                        ...                 ...                 ...
10725770             205110489 2022-03-15 11:07:55 2022-03-15 11:08:16
10725771             APP-MOVIL 2022-03-15 11:31:10 2022-03-15 11:31:00
10725772             APP-MOVIL 2022-02-05 12:38:43 2022-02-05 12:38:00
10725773             APP-MOVIL 2022-01-10 19:00:50 2022-01-10 19:00:00
10725774             APP-MOVIL 2022-01-05 11:05:48 2022-01-05 11:05:00

                   fecha_fin  cod_distrito  cod_barrio tipo_zona distintivo  \
0        2022-02-24 11:00:24             3           1      AZUL        ECO
1        2022-03-03 17:42:30             2           2     VERDE          C
2        2022-03-10 13:00:00             3           1      AZUL          B
3        2022-01-22 11:44:55             2           6     VERDE          C
4        2022-02-17 13:04:47             5           3      AZUL        ECO
...                      ...           ...         ...       ...        ...
10725770 2022-03-15 11:52:16             5           1     VERDE          B
10725771 2022-03-15 12:12:00             2           2      AZUL          B
10725772 2022-02-05 13:18:00             2           6     VERDE          B
10725773 2022-01-10 19:43:00             8           4      AZUL          C
10725774 2022-01-05 11:46:00             5           6      AZUL          C

          minutos_tique  importe_tique
0                   154           1.00
1                    21           0.50
2                   240           9.85
3                    14           0.30
4                    65           0.30
...                 ...            ...
10725770             44           2.00
10725771             41           0.80
10725772             40           2.50
10725773             43           0.65
10725774             41           0.60

[10725775 rows x 10 columns]>

In [13]:
p_distritos[['cod_distrito','distrito']]

          cod_distrito distrito
0                    3   RETIRO
1                    3   RETIRO
2                    3   RETIRO
3                    3   RETIRO
4                    3   RETIRO
...                ...      ...
10725770            30      NaN
10725771            30      NaN
10725772            30      NaN
10725773            30      NaN
10725774            30      NaN

[10725775 rows x 2 columns]

In [16]:
# Check dataframe distinct values of cod_distrito
print(p_distritos[['cod_distrito']].value_counts())

# Check dataframe distinct values of distrito
print(p_distritos[['distrito']].value_counts())

cod_distrito
5               2493473
7               1554242
4               1455611
6               1315014
3               1260869
2               1229614
9                639811
8                515414
1                261721
30                    6
dtype: int64
distrito
CHAMARTIN     2493473
CHAMBERI      1554242
SALAMANCA     1455611
TETUAN        1315014
RETIRO        1260869
ARGANZUELA    1229614
MONCLOA        639811
FUENCARRAL     515414
CENTRO         261721
dtype: int64

In [18]:
# Check dataframe distinct values of cod_distrito + distrito 
print(p_distritos[['cod_distrito','distrito']].value_counts())

count_distritos = p_distritos[['cod_distrito','distrito']].value_counts().count()
print(f'total distinct values cod_distrito + distrito = {count_distritos}')

sum_distritos = p_distritos[['cod_distrito','distrito']].value_counts().sum()
print(f'total rows cod_distrito + distrito = {sum_distritos}')

cod_distrito  distrito
5             CHAMARTIN     2493473
7             CHAMBERI      1554242
4             SALAMANCA     1455611
6             TETUAN        1315014
3             RETIRO        1260869
2             ARGANZUELA    1229614
9             MONCLOA        639811
8             FUENCARRAL     515414
1             CENTRO         261721
dtype: int64
total distinct values cod_distrito + distrito = 9
total rows cod_distrito + distrito = 10725769

In [19]:
# Missing NaN values of distrito column. Clean NaN
p_distritos['distrito'] = p_distritos['distrito'].fillna('SIN INFORMAR')
p_distritos[['cod_distrito','distrito']]

          cod_distrito      distrito
0                    3        RETIRO
1                    3        RETIRO
2                    3        RETIRO
3                    3        RETIRO
4                    3        RETIRO
...                ...           ...
10725770            30  SIN INFORMAR
10725771            30  SIN INFORMAR
10725772            30  SIN INFORMAR
10725773            30  SIN INFORMAR
10725774            30  SIN INFORMAR

[10725775 rows x 2 columns]

In [20]:
# Check dataframe distinct values of cod_distrito + distrito, after clean NaN
print(p_distritos[['cod_distrito','distrito']].value_counts())

count_distritos = p_distritos[['cod_distrito','distrito']].value_counts().count()
print(f'total distinct values cod_distrito + distrito = {count_distritos}')

sum_distritos = p_distritos[['cod_distrito','distrito']].value_counts().sum()
print(f'total rows cod_distrito + distrito = {sum_distritos}')

cod_distrito  distrito
5             CHAMARTIN       2493473
7             CHAMBERI        1554242
4             SALAMANCA       1455611
6             TETUAN          1315014
3             RETIRO          1260869
2             ARGANZUELA      1229614
9             MONCLOA          639811
8             FUENCARRAL       515414
1             CENTRO           261721
30            SIN INFORMAR          6
dtype: int64
total distinct values cod_distrito + distrito = 10
total rows cod_distrito + distrito = 10725775

In [21]:
# Merge barrios
p_barrios = pd.merge(p_distritos, barrios)
p_barrios.head()

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito,barrio
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,1,AZUL,ECO,154,1.00,RETIRO,PACÍFICO
1,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,1,AZUL,B,240,9.85,RETIRO,PACÍFICO
2,703130012,2022-02-26 13:01:43,2022-02-26 13:01:43,2022-02-26 13:17:43,3,1,VERDE,B,16,0.50,RETIRO,PACÍFICO
3,703130056,2022-02-07 17:52:15,2022-02-07 17:52:15,2022-02-07 19:36:15,3,1,AZUL,C,104,2.00,RETIRO,PACÍFICO
4,APP-MOVIL,2022-03-07 18:02:22,2022-03-07 18:02:21,2022-03-07 18:22:21,3,1,VERDE,B,20,0.60,RETIRO,PACÍFICO

In [22]:
# Check dataframe distinct values of cod_distrito + cod_barrio + distrito + barrio
print(p_barrios[['cod_distrito','cod_barrio','distrito','barrio']].value_counts())

count_barrios = p_barrios[['cod_distrito','cod_barrio','distrito','barrio']].value_counts().count()
print(f'total distinct values cod_distrito + cod_barrio + distrito + barrio = {count_barrios}')

sum_barrios = p_barrios[['cod_distrito','cod_barrio','distrito','barrio']].value_counts().sum()
print(f'total rows cod_distrito + cod_barrio + distrito + barrio = {sum_barrios}')

cod_distrito  cod_barrio  distrito      barrio
5             5           CHAMARTIN     NUEVA ESPAÑA            623166
              1           CHAMARTIN     EL VISO                 579445
              4           CHAMARTIN     HISPANOAMÉRICA          528001
7             6           CHAMBERI      VALLEHERMOSO            407896
6             2           TETUAN        CUATRO CAMINOS          386304
              3           TETUAN        CASTILLEJOS             369244
4             4           SALAMANCA     GUINDALERA              330559
              1           SALAMANCA     RECOLETOS               321462
5             2           CHAMARTIN     PROSPERIDAD             312639
7             4           CHAMBERI      ALMAGRO                 299982
4             6           SALAMANCA     CASTELLANA              298611
9             1           MONCLOA       CASA DE CAMPO           283661
8             5           FUENCARRAL    LA PAZ                  281896
2             2           ARGANZUELA    ACACIAS                 275261
7             5           CHAMBERI      RIOS ROSAS              267292
2             6           ARGANZUELA    PALOS DE MOGUER         251377
3             3           RETIRO        ESTRELLA                236677
8             4           FUENCARRAL    PILAR                   233518
3             6           RETIRO        NIÑO JESÚS              229229
              5           RETIRO        JERONIMOS               227861
4             2           SALAMANCA     GOYA                    225810
5             3           CHAMARTIN     CIUDAD JARDÍN           225491
              6           CHAMARTIN     CASTILLA                224731
3             4           RETIRO        IBIZA                   218070
7             1           CHAMBERI      GAZTAMBIDE              211323
3             1           RETIRO        PACÍFICO                209952
2             5           ARGANZUELA    DELICIAS                207901
7             2           CHAMBERI      ARAPILES                190947
9             2           MONCLOA       ARGUELLES               190765
6             4           TETUAN        ALMENARA                183636
7             3           CHAMBERI      TRAFALGAR               176802
2             1           ARGANZUELA    IMPERIAL                168521
4             5           SALAMANCA     LISTA                   167773
2             4           ARGANZUELA    LEGAZPI                 161904
9             3           MONCLOA       CIUDAD UNIVERSITARIA    139149
3             2           RETIRO        ADELFAS                 139080
6             1           TETUAN        BELLAS VISTAS           138856
              6           TETUAN        BERRUGUETE              133629
4             3           SALAMANCA     FUENTE DEL BERRO        111396
6             5           TETUAN        VALDEACEDERAS           103345
2             3           ARGANZUELA    CHOPERA                  94882
1             1           CENTRO        PALACIO                  80897
2             7           ARGANZUELA    ATOCHA                   69768
1             2           CENTRO        EMBAJADORES              55305
              5           CENTRO        UNIVERSIDAD              48728
              4           CENTRO        JUSTICIA                 43518
9             4           MONCLOA       VALDEZARZA               26236
1             3           CENTRO        CORTES                   22004
              6           CENTRO        SOL                      11269
30            0           SIN INFORMAR   TEST PARKARE                6
dtype: int64
total distinct values cod_distrito + cod_barrio + distrito + barrio = 50
total rows cod_distrito + cod_barrio + distrito + barrio = 10725775

In [23]:
stats_barrios = p_barrios.groupby(['distrito','barrio'])[['minutos_tique', 'importe_tique']]\
                  .agg(['min', 'max', 'mean', 'median', 'std'])\
                  .sort_values(by=('importe_tique', 'median'), ascending=False).reset_index()
stats_barrios

        distrito                barrio minutos_tique                          \
                                                 min  max        mean median
0         RETIRO             JERONIMOS             0  480   77.916840   60.0
1        MONCLOA         CASA DE CAMPO             0  720  137.133917   80.0
2       CHAMBERI          VALLEHERMOSO             0  480   69.525386   59.0
3         RETIRO                 IBIZA             0  480   67.762388   56.0
4       CHAMBERI               ALMAGRO             0  480   72.190498   59.0
5         RETIRO            NIÑO JESÚS             0  480   64.473605   51.0
6         RETIRO               ADELFAS             0  480   66.519485   49.0
7      SALAMANCA                  GOYA             0  480   65.020119   50.0
8      SALAMANCA            GUINDALERA             0  480   69.855448   56.0
9      SALAMANCA      FUENTE DEL BERRO             0  480   70.830793   56.0
10       MONCLOA             ARGUELLES             1  480   73.652400   59.0
11     SALAMANCA                 LISTA             0  480   65.323789   50.0
12    ARGANZUELA                ATOCHA             1  480   68.402333   54.0
13        RETIRO              PACÍFICO             0  480   64.504144   47.0
14      CHAMBERI             TRAFALGAR             0  480   75.382456   59.0
15      CHAMBERI            RIOS ROSAS             0  480   69.000389   54.0
16      CHAMBERI            GAZTAMBIDE             1  480   70.786885   56.0
17      CHAMBERI              ARAPILES             1  480   75.209728   59.0
18    ARGANZUELA               ACACIAS             0  480   71.510370   56.0
19     CHAMARTIN           PROSPERIDAD             1  480   66.196118   50.0
20        TETUAN           CASTILLEJOS             0  480   61.742514   46.0
21    ARGANZUELA               CHOPERA             0  480   72.173985   56.0
22    ARGANZUELA              DELICIAS             0  480   69.523494   55.0
23    ARGANZUELA              IMPERIAL             0  480   67.562873   55.0
24    ARGANZUELA               LEGAZPI             0  480   67.762489   51.0
25    ARGANZUELA       PALOS DE MOGUER             0  480   69.209733   54.0
26        TETUAN        CUATRO CAMINOS             0  480   66.550108   50.0
27     SALAMANCA            CASTELLANA             0  480   66.129161   50.0
28        CENTRO               PALACIO             1  720  140.643893   87.0
29        TETUAN              ALMENARA             1  480   65.744560   49.0
30     SALAMANCA             RECOLETOS             0  480   67.329846   50.0
31     CHAMARTIN              CASTILLA             1  480   66.111351   51.0
32     CHAMARTIN         CIUDAD JARDÍN             1  480   68.987889   56.0
33     CHAMARTIN               EL VISO             1  480   66.004435   51.0
34     CHAMARTIN        HISPANOAMÉRICA             1  480   63.276653   48.0
35     CHAMARTIN          NUEVA ESPAÑA             1  480   62.670244   48.0
36        RETIRO              ESTRELLA             0  480   62.974252   49.0
37        TETUAN         BELLAS VISTAS             1  480   67.436423   49.0
38        TETUAN         VALDEACEDERAS             1  480   67.116977   47.0
39       MONCLOA            VALDEZARZA             0  480   70.277291   49.0
40       MONCLOA  CIUDAD UNIVERSITARIA             0  480   64.640580   49.0
41    FUENCARRAL                LA PAZ             0  480   70.238808   55.0
42    FUENCARRAL                 PILAR             0  480   56.660108   39.0
43        TETUAN            BERRUGUETE             1  480   67.270518   48.0
44        CENTRO                CORTES             1  480  105.393247   64.0
45        CENTRO           UNIVERSIDAD             0  480   97.380479   60.0
46        CENTRO              JUSTICIA             1  480   98.903075   61.0
47        CENTRO           EMBAJADORES             1  480   90.518651   60.0
48        CENTRO                   SOL             1  480  118.091224   69.0
49  SIN INFORMAR          TEST PARKARE             8   43   20.166667   19.0

               importe_tique
           std           min       max      mean median         std
0    66.497839          0.00     15.75  1.812852  1.300    1.687067
1   142.327730          0.00     15.75  1.608512  1.100    1.495005
2    58.824114          0.00     15.80  1.562021  1.050    1.542102
3    61.055629          0.00     15.75  1.498733  1.050    1.420344
4    69.957547          0.00     15.75  1.568115  1.050    1.545720
5    56.917428          0.00     15.75  1.423007  1.000    1.449686
6    64.375776          0.00     15.75  1.325413  1.000    1.403081
7    66.184628          0.00     15.75  1.449318  1.000    1.331338
8    65.701396          0.00     15.75  1.444799  1.000    1.522128
9    68.807339          0.00     15.75  1.471860  1.000    1.504564
10   71.472839          0.00     15.75  1.523891  1.000    1.488669
11   63.223648          0.00     15.75  1.445748  1.000    1.392971
12   59.158661          0.00     15.75  1.387519  1.000    1.563248
13   62.810403          0.00     15.75  1.334582  1.000    1.401651
14   74.250400          0.00     15.75  1.534345  1.000    1.575305
15   66.238794          0.00     15.75  1.518541  1.000    1.498572
16   68.792836          0.00     15.75  1.447458  1.000    1.505832
17   72.185540          0.00     15.75  1.502823  1.000    1.630602
18   65.619918          0.00     15.80  1.481188  1.000    1.566120
19   63.080738          0.00     15.75  1.370455  1.000    1.459008
20   58.594466          0.00     15.75  1.357769  1.000    1.382714
21   67.916263          0.00     15.75  1.412299  1.000    1.502934
22   63.560775          0.00     15.75  1.421986  1.000    1.524302
23   61.830184          0.00     15.80  1.397603  1.000    1.436145
24   64.702959          0.00     15.75  1.383014  1.000    1.458022
25   63.920052          0.00     15.75  1.479372  1.000    1.535155
26   63.794790         -0.05     15.80  1.381140  1.000    1.468321
27   65.740491          0.00     15.80  1.482976  1.000    1.425383
28  143.489324          0.00     11.55  1.402422  1.000    1.368905
29   64.412041          0.00     15.75  1.332063  1.000    1.412418
30   68.320046          0.00     15.75  1.477275  1.000    1.444053
31   64.757273          0.00     15.75  1.368922  1.000    1.432371
32   62.557002          0.00     15.75  1.429581  1.000    1.516618
33   61.368130          0.00  83886.88  1.632285  1.000  110.209975
34   60.164335          0.00     15.75  1.345770  1.000    1.432849
35   59.147766          0.00     15.75  1.307940  0.950    1.413078
36   58.120542          0.00     15.75  1.311660  0.950    1.398543
37   67.065093          0.00     15.75  1.319257  0.950    1.458194
38   73.274056          0.00     15.75  1.257540  0.900    1.352586
39   77.796152          0.00     15.75  1.237805  0.900    1.383825
40   59.500802          0.00     15.75  1.311532  0.900    1.486053
41   63.829420          0.00     15.75  1.192162  0.850    1.193588
42   62.528588          0.00     15.75  1.132450  0.800    1.175939
43   68.818330          0.00     15.75  1.225272  0.800    1.413722
44  117.758681          0.00      7.90  1.220344  0.800    1.368032
45  111.338014          0.00      7.90  1.077600  0.650    1.260542
46  111.805788          0.00      7.90  1.057374  0.650    1.229133
47  104.864410          0.00      7.90  1.075405  0.650    1.232001
48  129.598479          0.00      7.90  1.024075  0.550    1.253016
49   12.828354          0.10      0.65  0.333333  0.325    0.231661

In [24]:
print(p_barrios['importe_tique'].min())
print(p_barrios['importe_tique'].max())

-0.05
83886.88

In [25]:
df_min_max = pd.concat([p_barrios[(p_barrios['importe_tique'] == p_barrios['importe_tique'].min())],
                        p_barrios[(p_barrios['importe_tique'] == p_barrios['importe_tique'].max())]])
df_min_max

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito,barrio
4988746,APP-MOVIL,2022-02-08 11:04:05,2022-02-08 11:12:00,2022-02-08 11:15:00,6,2,VERDE,C,3,-0.05,TETUAN,CUATRO CAMINOS
3647580,205110326,2022-01-17 14:03:21,2022-01-07 14:03:21,2022-01-07 14:31:21,5,1,VERDE,B,28,83886.88,CHAMARTIN,EL VISO

In [26]:
%%time

p_barrios['fecha_operacion_new'] = pd.to_datetime(p_barrios['fecha_operacion'].dt.strftime("%Y-%m-%d"), format="%Y-%m-%d")
p_barrios['fecha_inicio_new'] = pd.to_datetime(p_barrios['fecha_inicio'].dt.strftime("%Y-%m-%d"), format="%Y-%m-%d")
p_barrios['fecha_fin_new'] = pd.to_datetime(p_barrios['fecha_fin'].dt.strftime("%Y-%m-%d"), format="%Y-%m-%d")
p_barrios.head()

CPU times: user 1min 43s, sys: 1.16 s, total: 1min 45s
Wall time: 1min 44s

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito,barrio,fecha_operacion_new,fecha_inicio_new,fecha_fin_new
0,703130002,2022-02-23 20:26:24,2022-02-23 20:26:24,2022-02-24 11:00:24,3,1,AZUL,ECO,154,1.00,RETIRO,PACÍFICO,2022-02-23,2022-02-23,2022-02-24
1,703130050,2022-03-10 08:54:11,2022-03-10 09:00:00,2022-03-10 13:00:00,3,1,AZUL,B,240,9.85,RETIRO,PACÍFICO,2022-03-10,2022-03-10,2022-03-10
2,703130012,2022-02-26 13:01:43,2022-02-26 13:01:43,2022-02-26 13:17:43,3,1,VERDE,B,16,0.50,RETIRO,PACÍFICO,2022-02-26,2022-02-26,2022-02-26
3,703130056,2022-02-07 17:52:15,2022-02-07 17:52:15,2022-02-07 19:36:15,3,1,AZUL,C,104,2.00,RETIRO,PACÍFICO,2022-02-07,2022-02-07,2022-02-07
4,APP-MOVIL,2022-03-07 18:02:22,2022-03-07 18:02:21,2022-03-07 18:22:21,3,1,VERDE,B,20,0.60,RETIRO,PACÍFICO,2022-03-07,2022-03-07,2022-03-07

In [27]:
p_barrios.dtypes

matricula_parquimetro            object
fecha_operacion          datetime64[ns]
fecha_inicio             datetime64[ns]
fecha_fin                datetime64[ns]
cod_distrito                      int64
cod_barrio                        int64
tipo_zona                        object
distintivo                       object
minutos_tique                     int64
importe_tique                   float64
distrito                         object
barrio                           object
fecha_operacion_new      datetime64[ns]
fecha_inicio_new         datetime64[ns]
fecha_fin_new            datetime64[ns]
dtype: object

In [28]:
p_barrios[p_barrios['fecha_operacion_new'] > p_barrios['fecha_inicio_new']]

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito,barrio,fecha_operacion_new,fecha_inicio_new,fecha_fin_new
3025757,205510391,2022-02-05 01:31:50,2022-02-04 18:07:50,2022-02-04 18:27:50,5,5,AZUL,B,20,0.50,CHAMARTIN,NUEVA ESPAÑA,2022-02-05,2022-02-04,2022-02-04
3647580,205110326,2022-01-17 14:03:21,2022-01-07 14:03:21,2022-01-07 14:31:21,5,1,VERDE,B,28,83886.88,CHAMARTIN,EL VISO,2022-01-17,2022-01-07,2022-01-07
4205546,APP-MOVIL,2022-01-09 11:03:22,2022-01-07 13:56:31,2022-01-07 14:43:31,5,4,AZUL,C,47,0.70,CHAMARTIN,HISPANOAMÉRICA,2022-01-09,2022-01-07,2022-01-07

In [30]:
parking_clean = p_barrios.drop([3647580])
parking_clean.info

<bound method DataFrame.info of          matricula_parquimetro     fecha_operacion        fecha_inicio  \
0                    703130002 2022-02-23 20:26:24 2022-02-23 20:26:24
1                    703130050 2022-03-10 08:54:11 2022-03-10 09:00:00
2                    703130012 2022-02-26 13:01:43 2022-02-26 13:01:43
3                    703130056 2022-02-07 17:52:15 2022-02-07 17:52:15
4                    APP-MOVIL 2022-03-07 18:02:22 2022-03-07 18:02:21
...                        ...                 ...                 ...
10725770             130019000 2022-02-01 09:42:28 2022-02-01 09:42:28
10725771             130019000 2022-03-15 16:59:14 2022-03-15 18:01:33
10725772             130019000 2022-01-31 10:32:13 2022-01-31 10:32:13
10725773             130019000 2022-03-15 16:58:10 2022-03-15 17:39:33
10725774             130019000 2022-03-15 16:56:33 2022-03-15 16:56:33

                   fecha_fin  cod_distrito  cod_barrio tipo_zona  \
0        2022-02-24 11:00:24             3           1      AZUL
1        2022-03-10 13:00:00             3           1      AZUL
2        2022-02-26 13:17:43             3           1     VERDE
3        2022-02-07 19:36:15             3           1      AZUL
4        2022-03-07 18:22:21             3           1     VERDE
...                      ...           ...         ...       ...
10725770 2022-02-01 10:05:28            30           0      AZUL
10725771 2022-03-15 18:09:33            30           0      AZUL
10725772 2022-01-31 10:41:13            30           0      AZUL
10725773 2022-03-15 18:01:33            30           0      AZUL
10725774 2022-03-15 17:39:33            30           0      AZUL

                         distintivo  minutos_tique  importe_tique  \
0                               ECO            154           1.00
1                                 B            240           9.85
2                                 B             16           0.50
3                                 C            104           2.00
4                                 B             20           0.60
...                             ...            ...            ...
10725770  INFORMACION NO DISPONIBLE             23           0.50
10725771                          C              8           0.10
10725772                          C              9           0.10
10725773                          C             22           0.45
10725774                          C             43           0.65

              distrito         barrio fecha_operacion_new fecha_inicio_new  \
0               RETIRO       PACÍFICO          2022-02-23       2022-02-23
1               RETIRO       PACÍFICO          2022-03-10       2022-03-10
2               RETIRO       PACÍFICO          2022-02-26       2022-02-26
3               RETIRO       PACÍFICO          2022-02-07       2022-02-07
4               RETIRO       PACÍFICO          2022-03-07       2022-03-07
...                ...            ...                 ...              ...
10725770  SIN INFORMAR   TEST PARKARE          2022-02-01       2022-02-01
10725771  SIN INFORMAR   TEST PARKARE          2022-03-15       2022-03-15
10725772  SIN INFORMAR   TEST PARKARE          2022-01-31       2022-01-31
10725773  SIN INFORMAR   TEST PARKARE          2022-03-15       2022-03-15
10725774  SIN INFORMAR   TEST PARKARE          2022-03-15       2022-03-15

         fecha_fin_new
0           2022-02-24
1           2022-03-10
2           2022-02-26
3           2022-02-07
4           2022-03-07
...                ...
10725770    2022-02-01
10725771    2022-03-15
10725772    2022-01-31
10725773    2022-03-15
10725774    2022-03-15

[10725774 rows x 15 columns]>

In [31]:
parking_clean[parking_clean['fecha_operacion_new'] > parking_clean['fecha_inicio_new']]

,matricula_parquimetro,fecha_operacion,fecha_inicio,fecha_fin,cod_distrito,cod_barrio,tipo_zona,distintivo,minutos_tique,importe_tique,distrito,barrio,fecha_operacion_new,fecha_inicio_new,fecha_fin_new
3025757,205510391,2022-02-05 01:31:50,2022-02-04 18:07:50,2022-02-04 18:27:50,5,5,AZUL,B,20,0.5,CHAMARTIN,NUEVA ESPAÑA,2022-02-05,2022-02-04,2022-02-04
4205546,APP-MOVIL,2022-01-09 11:03:22,2022-01-07 13:56:31,2022-01-07 14:43:31,5,4,AZUL,C,47,0.7,CHAMARTIN,HISPANOAMÉRICA,2022-01-09,2022-01-07,2022-01-07

In [32]:
print(parking_clean['importe_tique'].max())

15.8